POSTGRES_DB=ticket_management
POSTGRES_USER=ticket_user
POSTGRES_PASSWORD=ticket_password

BACKEND_PORT=8080
FRONTEND_PORT=5173
JWT_SECRET=ticket_management_secret

ADMIN_EMAIL=admin@empresa.com
ADMIN_NAME=Administrador
ADMIN_PASSWORD=admin123
