PORT=8080
DATABASE_URL="postgresql://ticket_user:ticket_password@localhost:5432/ticket_management?schema=public"
JWT_SECRET="ticket_management_secret"
ADMIN_EMAIL="admin@empresa.com"
ADMIN_NAME="Administrador"
ADMIN_PASSWORD="admin123"
